/* Import new fonts to use with headings and text */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Montserrat&family=Russo+One&display=swap');

/*Header*/

header {
  background-image: url(images/sri-lanka-bg-mountain.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

header h1 {
  font-family: "Russo One", 'Courier New', Courier, monospace;
  font-size: 44px;
  text-shadow: 0 0 20px #000;
  color: #f7fff7;
}

/*Header Navigation*/

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  list-style-type: none;
  margin-right: 10px;
}

header nav ul li a {
  color: #f7fff7;
  text-decoration: none;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
  font-size: 14px;
}

header a:hover {color: #00b4d8;}

header nav ul li:last-child {
  margin-right: 0;
}

/*Main*/

img {
  width: 100%;
  align-items: center;
}

img.rounded {
  border-radius: 10px;
}

main h2 {
  font-family: "Lexend Peta", 'Courier New', Courier, monospace;
  font-size: 28px;
}

main h3 {
  font-family: "Russo One", 'Courier New', Courier, monospace;
  font-size: 22px;
  margin: 20px;
}

main p, li, label {
  font-family: "Montserrat", 'Courier New', Courier, monospace;
  font-size: 16px;
}

.about, .services {
  background-color: #6084A4;
}

a {
  text-decoration: none;
  font-weight: 700;
}

main a:link {color: #0077b6;}
main a:visited {color: #03045e;}
main a:hover {color: #00b4d8;}
main a:active {color: #90e0ef;}

/*Footer*/
footer {
  font-family: "Russo One", 'Courier New', Courier, monospace;
  font-size: 26px;
  padding: 30px;
  text-align: center;
  background-color: #1a535c;
  color: #f7fff7;
}

/*Design (Mobile first)*/

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact ol li {
  list-style: none;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
input, textarea {
  flex: 1;
}

input, textarea {
  margin-bottom: 20px;
}

.projects h2 {
  text-align: center;
}

.item iframe {
  width: 100%;
  padding-top: 50px;
}

/*Design (Desktop)*/

@media all and (min-width: 700px) {
  .wrapper {
  width: 85%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    justify-content: flex-start;
  }

  header h1 {
    margin-left: 50px;
  }

  nav {
    align-items: center;
  }
  
  header h1 {
    font-size: 56px;
  }

  header nav ul li a {
    font-size: 22px;
    margin-right: 20px;
  }
}